<h1>Add Student Profile</h1>
<%= form_for @student do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :mod %>
  <%= f.text_field :mod %>
  <%= f.submit %>
<% end %>

<br>
<hr>
<h3>Navigation</h3>
<%= link_to "Duck Index", ducks_path%><br>
<%= link_to "Student Index", students_path%><br>
<%= link_to "Create New Student", new_student_path%><br>
<%= link_to "Create New Duck", new_duck_path%><br>
