<h1>Edit Duck Profile</h1>
<%= form_for @duck do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :student_id %>
  <%= f.collection_select :student_id, @students, :id, :name %>
  <%= f.submit %>
<% end %>
