<h1>Add New Duck Profile</h1>
<%= form_for @duck do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :student_id %>
  <%= f.collection_select :student_id, @students, :id, :name %>
  <%= f.submit %>
<% end %>

<br>
<hr>
<h3>Navigation</h3>
<%= link_to "Duck Index", ducks_path%><br>
<%= link_to "Student Index", students_path%><br>
<%= link_to "Create New Student", new_student_path%><br>
<%= link_to "Create New Duck", new_duck_path%><br>
