<h1>Add New Duck Profile</h1>
<%= form_for @duck do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :student_id %>
  <%= f.text_field :student_id %>
  <%= f.submit %>
<% end %>
